@{
    ViewBag.Title = "Phonebook";
}

@using PhonebookUIApp.Models
@model UserModel

<div class="main">
    <div class="users">
        <p>Users List:</p>
        <ul class="userslist">
            @foreach (UserData user in Model.Users)
            {
                <li>UserID: @user.UserId, UserName: @user.UserName</li>
            }
        </ul>
    </div>

    <div class="actions">
        @Html.Partial("CreateUser", Model.NewUser)

        <h2>Update User</h2>

        <h2>Delete User</h2>
    </div>
</div>