@{
    ViewBag.Title = "Phonebook";
}

@using PhonebookUIApp.Models
@model UserModel

<div class="main">
    <div class="users">
        <p>Users List:</p>
        <ul class="userslist">
            @foreach (UserData user in Model.Users)
            {
                <li>UserID: @user.UserId, UserName: @user.UserName</li>
            }
        </ul>
    </div>

    <div class="phonebook">
        <p>Phonebook:</p>
        @foreach (UserPhoneBookData phonebook in Model.PhoneBook)
        {
            if (phonebook.Contacts.Count > 0)
            {
                <ul class="phonebooklist">
                    UserId:@phonebook.User.UserId, UserName: @phonebook.User.UserName
                    @foreach (UserData contacts in phonebook.Contacts)
                    {
                        <li>Contact Name: @contacts.UserName</li>
                    }
                </ul>
            }
        }
    </div>
</div>